name: CI - Angular Ecommerce

on:
  push:
    branches: [ master]
  pull_request:
    branches: [ master]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node 16
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json

      - name: Install deps (backend)
        run: npm ci

      # se não tiver testes, você pode trocar por npm run lint ou remover esse passo
      - name: Run backend tests
        run: npm test || echo "sem testes configurados"

  test-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node 16
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: client/package-lock.json

      - name: Install deps (frontend)
        run: npm ci

      # idem: se não tiver testes, usa lint ou só build para validar
      - name: Run frontend tests
        run: npm test || echo "sem testes configurados"

  build-and-push-images:
    runs-on: ubuntu-latest
    needs:
      - test-backend
    # se quiser obrigar passar frontend também:
    # needs: [ test-backend, test-frontend ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ecommerce-backend:dev
            ${{ secrets.DOCKERHUB_USERNAME }}/ecommerce-backend:${{ github.sha }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ecommerce-frontend:dev
            ${{ secrets.DOCKERHUB_USERNAME }}/ecommerce-frontend:${{ github.sha }}
